
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #020d1d;
    color: #E8F1FF;
    font-family: 'Rajdhani', sans-serif;
}

.cabecalho {
    width: 100%;
    height: 80px;
   background: linear-gradient(
        90deg,
        #07152F,
        #0b0b31
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;

}

.logo h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    color: #F1F3F8;
    letter-spacing: 2px;
}
.usuario {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icone-moeda {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.usuario span {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: #F1F3F8;
}
.inicio {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}


.inicio h4 {
    font-family: "poppins", sans-serif;
    font-size: 20px;
    font-weight: 69;
    color: #E8F1FF;
    margin-bottom: 45px;
}
.inicio h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    color: #F1F3F8;
    margin-bottom: 20px;
}


.opcoes {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 70px;
    width: 100%;
}

.card {
    width: 275px;
    height: 280px;
    background-color: #04172D;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s ease;
}

.card-jogos {
    border: 4px solid #6947D8;
}

.card-jogos h3,
.card-jogos .seta {
    color: #7855FF;
}

.card-resultados {
    border: 4px solid #B08B20;
}

.card-resultados h3,
.card-resultados .seta {
    color: #F5C33B;
}

.card-configuracoes {
    border: 4px solid #008F8B;
}

.card-configuracoes h3,
.card-configuracoes .seta {
    color: #00D8C4;
}

.icone-card {
    width: 55px;
    height: 55px;
    object-fit: contain;
    margin-bottom: 25px;
}

.card h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    text-align: center;
    margin-bottom: 25px;
}

.card .seta {
    font-family: Arial, sans-serif;
    font-size: 38px;
    font-weight: bold;
    line-height: 1;
}

.card:hover {
    transform: translateY(-5px);
}