* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #020d1d;
    color: #E8F1FF;
    font-family: 'Rajdhani', sans-serif;
}
.cabecalho {
    width: 100%;
    height: 80px;
    background: linear-gradient(90deg,
            #07152F,
            #0b0b31);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;

}
.logo h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    color: #F1F3F8;
}
.usuario {
    display: flex;
    align-items: center;
    gap: 8px;
}
.icone-moeda {
    width: 32px;
    height: 32px;
    object-fit: contain;
}
.usuario span {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: #F1F3F8;
}
.inicio {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}
.voltar {
    align-self: flex-start;
    margin-left: 50px;
    padding: 8px 18px;
    color: #F1F3F8;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: 3px solid #2865E5;
    border-radius: 5px;
}

#escolha {
    width: 100%;
    text-align: center;
    margin-top: -20px;

}

#escolha h1 {
    font-family: 'press start 2p', cursive;
    font-size: 26px;
    color: #F1F3F8;
}

#escolha p {
    font-family: 'press start 2p', cursive;
    font-size: 10px;
    color: #F1F3F8;
    margin-top: 15px;
    margin-bottom: 32px;

}

.opcoes {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 70px;
    width: 100%;
}
.card-maquina {
    width: 295px;
    height: 275px;
    background-color: #04172D;
    border: 3px solid #2865E5;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

}

.card-maquina:hover {
    box-shadow: 0 0 15px #2865E5;

}

.icone-maquina {
    width: 65px;
    height: 65px;
    object-fit: contain;
    margin-bottom: 8px;

}
.card-maquina h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    color: #00C8F5;
    margin-bottom: 13px;

}

.card-maquina button {
    width: 155px;
    height: 43px;
    background-color: #2865E5;
    border: none;
    border-radius: 8px;
    color: #F1F3F8;
    font-family: 'Rajdhani', sans-serif;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;

}
.card-maquina button:hover {

    background-color: #3977F0;

}


/* card amigo */

.card-amigo {

    width: 175px;

    height: 175px;

    background-color: #04172D;

    border: 3px solid #D93672;

    border-radius: 10px;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    transition: 0.2s;

}


.card-amigo:hover {

    transform: translateY(-5px);

    box-shadow: 0 0 15px #D93672;

}


.icone-amigo {

    width: 65px;

    height: 65px;

    object-fit: contain;

    margin-bottom: 8px;

}


.card-amigo h3 {

    font-family: 'Rajdhani', sans-serif;

    font-size: 20px;

    line-height: 0.9;

    font-weight: 700;

    color: #FF6D9C;

    margin-bottom: 13px;

}


.card-amigo button {

    width: 105px;

    height: 30px;

    background-color: #D93672;

    border: none;

    border-radius: 6px;

    color: #F1F3F8;

    font-family: 'Rajdhani', sans-serif;

    font-size: 16px;

    font-weight: 700;

    cursor: pointer;

}


.card-amigo button:hover {

    background-color: #E84B82;

}


/* jogo */

#jogo {

    display: none;

    width: 100%;

    text-align: center;

    margin-top: 15px;

}


#jogo h1 {

    font-family: 'Rajdhani', sans-serif;

    font-size: 30px;

    margin-bottom: 5px;

}


#jogador {

    font-size: 20px;

    font-weight: 600;

    margin-bottom: 25px;

}


/* tabuleiro */

.tabuleiro {

    display: grid;

    grid-template-columns: repeat(3, 100px);

    grid-template-rows: repeat(3, 100px);

    gap: 5px;

    justify-content: center;

    background-color: #2865E5;

    margin: 0 auto;

}


.casa {

    width: 100px;

    height: 100px;

    background-color: #04172D;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 50px;

    font-weight: 700;

    cursor: pointer;

    transition: 0.2s;

}


.casa:hover {

    background-color: #0B2145;

}


/* reiniciar */

#jogo > button {

    width: 130px;

    height: 40px;

    margin-top: 25px;

    background-color: #2865E5;

    border: none;

    border-radius: 7px;

    color: #F1F3F8;

    font-family: 'Rajdhani', sans-serif;

    font-size: 18px;

    font-weight: 700;

    cursor: pointer;

}


#jogo > button:hover {

    background-color: #3977F0;

}